.main_chat
  .main_chat__group-info
    .main_chat__group-info__left-box
      .main_chat__group-info__left-box__current-group aaa
      .main_chat__group-info__left-box__member-list
        Member:
        .main_chat__group-info__left-box__member-list__member
    .main_chat__group-info__edit
      %a(href="") Edit
  .main_chat__messages
    = render "message"
  .form