.side_bar
  .side_bar__header
    .side_bar__header__box
      .side_bar__header__box__name a
      .side_bar__header__box__icon
  .side_bar__groups
    .side_bar__groups__box
      .side_bar__groups__box__name
      .side_bar__groups__box__message aaaa
